#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    include                   tags=package=clibs-dev
        private               tags=package=clibs-dev
            bsddialog         tags=package=utilities-dev
            ..
            bsdstat           tags=package=libbsdstat-dev
            ..
            gmock             tags=package=utilities-dev
                internal      tags=package=utilities-dev
                    custom    tags=package=utilities-dev
                    ..
                ..
            ..
            gtest             tags=package=utilities-dev
                internal      tags=package=utilities-dev
                    custom    tags=package=utilities-dev
                    ..
                ..
            ..
            samplerate        tags=package=sound-dev
            ..
            sqlite3           tags=package=libsqlite3-dev
            ..
            ucl               tags=package=libucl-dev
            ..
            yaml              tags=package=libyaml-dev
            ..
            zstd              tags=package=runtime-dev
            ..
        ..
    ..
    lib
        clang
            19
                include
                    cuda_wrappers
                        bits
                        ..
                    ..
                    fuzzer
                    ..
                    hlsl
                    ..
                    openmp_wrappers
                    ..
                    orc_rt
                    ..
                    ppc_wrappers
                    ..
                    profile
                    ..
                    sanitizer
                    ..
                    xray
                    ..
                ..
                lib
                    freebsd
                    ..
                ..
                share
                ..
            ..
        ..
        compat
        ..
        dtrace
        ..
        engines-3
        ..
        flua
            freebsd
                sys
                ..
            ..
        ..
        i18n
        ..
        libxo
            encoder
            ..
        ..
        ossl-modules
        ..
        virtual_oss
        ..
    ..
    libdata
        ldscripts
        ..
        pkgconfig
        ..
    ..
    libexec
        bsdconfig
            020.docsinstall
                include
                ..
            ..
            030.packages
                include
                ..
            ..
            040.password
                include
                ..
            ..
            050.diskmgmt
                include
                ..
            ..
            070.usermgmt
                include
                ..
            ..
            080.console
                include
                ..
            ..
            090.timezone
                include
                ..
            ..
            110.mouse
                include
                ..
            ..
            120.networking
                include
                ..
            ..
            130.security
                include
                ..
            ..
            140.startup
                include
                ..
            ..
            150.ttys
                include
                ..
            ..
            dot
                include
                ..
            ..
            include
            ..
            includes
                include
                ..
            ..
        ..
        bsdinstall
        ..
        dwatch
        ..
        fwget
        ..
        ..
        sendmail
        ..
        sm.bin
        ..
        zfs
        ..
    ..
    local
    ..
    obj             nochange
    ..
    sbin
    ..
    share
        atf             tags=package=atf
        ..
        bhyve
            gdb
            ..
            kbdlayout
            ..
        ..
        bsdconfig
            media
            ..
            networking
            ..
            packages
            ..
            password
            ..
            startup
            ..
            timezone
            ..
            usermgmt
            ..
        ..
        certs
            trusted         tags=package=caroot
            ..
            untrusted       tags=package=caroot
            ..
        ..
        dict
        ..
        doc
            IPv6
            ..
            atf             tags=package=atf
            ..
            kyua            tags=package=kyua
            ..
            legal
            ..
            llvm
                clang
                ..
            ..
            ntp
                drivers
                    icons
                    ..
                    scripts
                    ..
                ..
                hints
                ..
                icons
                ..
                pic
                ..
                scripts
                ..
            ..
            pjdfstest
            ..
        ..
        dtrace
        ..
        examples
            BSD_daemon
            ..
            FreeBSD_version
            ..
            bhyve
            ..
            bsdconfig
            ..
            diskless
            ..
            dwatch
            ..
            etc
                defaults
                ..
            ..
            find_interface
            ..
            flua
            ..
            hast
            ..
            hostapd
            ..
            indent
            ..
            inotify
            ..
            ipfw
            ..
            jails
            ..
            kld
                cdev
                    module
                    ..
                    test
                    ..
                ..
                dyn_sysctl
                ..
                firmware
                    fwconsumer
                    ..
                    fwimage
                    ..
                ..
                khelp
                ..
                syscall
                    module
                    ..
                    test
                    ..
                ..
            ..
            kyua            tags=package=kyua
            ..
            libusb20
            ..
            mdoc
            ..
            netgraph
            ..
            perfmon
            ..
            ppi
            ..
            printing		tags=package=lp
            ..
            scsi_target
            ..
            ses
                getencstat
                ..
                sesd
                ..
                setencstat
                ..
                setobjstat
                ..
                srcs
                ..
            ..
                print
                ..
            ..
            sound
            ..
            sunrpc
                dir
                ..
                msg
                ..
                sort
                ..
            ..
            uefisign
            ..
        ..
        firmware
        ..
        flua
        ..
        i18n
            csmapper
                APPLE
                ..
                AST
                ..
                BIG5
                ..
                CNS
                ..
                CP
                ..
                EBCDIC
                ..
                GB
                ..
                GEORGIAN
                ..
                ISO-8859
                ..
                ISO646
                ..
                JIS
                ..
                KAZAKH
                ..
                KOI
                ..
                KS
                ..
                MISC
                ..
                TCVN
                ..
            ..
            esdb
                APPLE
                ..
                AST
                ..
                BIG5
                ..
                CP
                ..
                DEC
                ..
                EBCDIC
                ..
                EUC
                ..
                GB
                ..
                GEORGIAN
                ..
                ISO-2022
                ..
                ISO-8859
                ..
                ISO646
                ..
                KAZAKH
                ..
                KOI
                ..
                MISC
                ..
                TCVN
                ..
                UTF
                ..
            ..
        ..
        keys
            pkg
                revoked         tags=package=runtime
                ..
                trusted         tags=package=runtime
                ..
            ..
            pkgbase-15
                revoked         tags=package=runtime
                ..
                trusted         tags=package=runtime
                ..
            ..
        ..
        kyua            tags=package=kyua
            misc            tags=package=kyua
            ..
            store           tags=package=kyua
            ..
        ..
        locale
        ..
        misc
            fonts
            ..
        ..
        mk
        ..
        nls
            C
            ..
            en_US.UTF-8
            ..
            gl_ES.ISO8859-1
            ..
            kk_KZ.PT154
            ..
            no_NO.ISO8859-1
            ..
            no_NO.ISO8859-15
            ..
            no_NO.UTF-8
            ..
            sr_YU.ISO8859-2
            ..
            sr_YU.ISO8859-5
            ..
            sr_YU.UTF-8
            ..
        ..
        pkg
            triggers
            ..
        ..
        security
        ..
        sendmail
        ..
        skel
        ..
        snmp
            defs
            ..
            mibs
            ..
        ..
        tabset
        ..
        vi
            catalog
            ..
        ..
        vt
            fonts
            ..
            keymaps
            ..
        ..
        zfs
            compatibility.d
            ..
        ..
        zoneinfo
            Africa
            ..
            America
                Argentina
                ..
                Indiana
                ..
                Kentucky
                ..
                North_Dakota
                ..
            ..
            Antarctica
            ..
            Arctic
            ..
            Asia
            ..
            Atlantic
            ..
            Australia
            ..
            Brazil
            ..
            Canada
            ..
            Chile
            ..
            Etc
            ..
            Europe
            ..
            Indian
            ..
            Mexico
            ..
            Pacific
            ..
            US
            ..
        ..
    ..
    src             nochange
    ..
..
